body {
    background-color: #978e96;
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #e4a8df;
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
}